/* 清除默认边距 */
* {
    margin: 0;
    padding: 0;
}
/* 去除下划线 */
a {
    text-decoration: none;
}
/* 去除小圆点 */
li {
    list-style: none;
}
/* 设置字体大小 */
body {
    font-size: 16px;
}
/* 清除浮动 */
.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
}
.clearfix::after {
    clear: both;
}
/* 浮动 */
.fl {
    float: left;
}
.fr {
    float: right;
}
input,button {
    outline: none;
    border: none;
}